################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CsharpProjects/Design_Patterns/SingletonDemo/.gitignore.txt
